<form class="form-signin" name='loginForm' role="form">
  <div class="form-signin-header">
    <h4>Please sign in</h4>
  </div>

  <div class="form-signin-body">
    <div class="form-group" ng-class="{'has-error': loginForm.name.$invalid}">
      <label for="login_field">Username</label>
      <input type="text" name='name' class="form-control" id="login_field"
      ng-model='username' ng-click="postRsp = ''" autofocus required>
    </div>

    <div class="form-group" ng-class="{'has-error': loginForm.passwd.$invalid}">
      <label for="password">Password</label>
      <input type="password" name='passwd' class="form-control" id="password"
      ng-model='password' ng-click="postRsp = ''" required>
    </div>

    <p class="text-danger">{{postRsp}}</p>


    <button type="submit" class="btn btn-primary" ng-click='postLogin(username, password)'
    ng-disabled='loginForm.$invalid'>Sign in</button>
  </div>
</form>
