
<div class="row">
	<div class="col-md-2">
        <span class="glyphicon glyphicon-user"></span>  {{userName}}
        <br>
        Sex: Boy<br>
        Married 
	</div>
	<div class="col-md-10">
		<form name="msgForm">
			<div class="form-group">
				<textarea class="form-control" rows="3" ng-model='inText' placeholder="Say to your lover..." required>
				</textarea>				
			</div>
			<div class="form-group">
				<button ng-disabled="msgForm.$invalid" type="button" class="btn btn-default" ng-click="createMsg()">Send</button>
			</div>
		</form>
		<hr>

		<div ng-repeat="msg in msg_list">
    		<div class="row" ng-dblclick="delMsg(msg)">
		      <div class="col-md-1">{{userName}}:</div>
		      <div class="col-md-11">
		        <p>{{msg.message}}</p>
		        {{msg.timeString}}
		      </div>		      
		    </div>
	    <br>
	    </div>	    

	</div>
</div>
