
<div class="row">
	<div class="col-md-2">
        <span class="glyphicon glyphicon-user"></span>  {{userName}}
        <br>
        Sex: Boy<br>
        Married
	</div>

	<div class="col-md-10">
		<div ng-show="isNoRelation">
			<div class="form-group" >
				<p>You havn't add the one.</p>
				<p>Please input the one's name:</p>
	      <input type="text" name='name' class="form-control"
	      ng-model='theOneName' ng-click="" autofocus required>
	      <span class="help-block">{{addResult}}</span>
	    </div>
	    <div class="form-group">
	    	<button type="button" class="btn btn-default btn-primary" ng-click="findTheOne(theOneName)">
	    	Search</button>
	    </div>
		</div>

		<div ng-show="isAdding">
			<p>You are adding {{}}, wait her/his approval.</p>
			<button type="button" class="btn btn-default btn-primary">
			Cancel</button>
		</div>

		<form name="msgForm" ng-show="isInRelation">
			<div class="form-group">
				<textarea class="form-control" rows="3" ng-model='inText' placeholder="Say to your lover..." required>
				</textarea>
			</div>
			<div class="form-group">
				<button ng-disabled="msgForm.$invalid" type="button" class="btn btn-default"
				ng-click="createMsg(inText)">Send</button>
			</div>
		</form>

		<div class="msg-all" ng-repeat="msg in msgList">
			<img width="35" height="35" src="images/photo5050.jpg" class="msg-img">
			<div class="msg-body" ng-dblclick="delMsg(msg)">
				<strong class="msg-user">{{msg.user_id.name}}</strong>
				<p class="msg-text">{{msg.message}}</p>
				<div class="msg-footer">{{msg.time | msgTime}}</div>
			</div>
		</div>


	</div>
</div>
